<div class="selector">

  <div class="move-top">
    <h1 class="move-title">Capacité choisi : </h1>
    <div class="moves-list">
      <app-move  [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon"></app-move>
      <app-move  [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon"></app-move>
    </div>
    <div class="separator"></div>
  </div>

  <div class="move-bottom">
    <h1 class="move-title">Capacité disponible : </h1>
    <div class="moves-list overflow-scroll">
      <app-move  [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
      <app-move  [power]="80" [accuracy]="80" name="Dragon Claw" damage_class="Special" type="dragon" [isDefined]="true"></app-move>
    </div>
  </div>

</div>
