<div class="selector">

  <div class="move-top">
    @if (currentMove() === null) {
    <h1 class="move-title">Capacité choisie :</h1>
      <div class="moves-list">
        <app-move
          [inFight]="true"
          [isDefined]="true"
          [name]="currentMove()!.name"
          [type]="currentMove()!.type"
          [power]="currentMove()!.power ?? 0"
          [accuracy]="currentMove()!.accuracy ?? 100"
          [damage_class]="currentMove()!.damageClass">
        </app-move>
      </div>
    }
  </div>

  <div class="move-bottom">
    <h1 class="move-title">Capacités disponibles :</h1>
    <div class="moves-list overflow-scroll">
      @for (move of availableMoves(); track move.name; let idx = $index) {
        <app-move
          [inFight]="false"
          [isDefined]="true"
          [name]="move.name"
          [type]="move.type"
          [power]="move.power ?? 0"
          [accuracy]="move.accuracy ?? 100"
          [damage_class]="move.damageClass"
          (click)="onChooseMove(move, idx)">
        </app-move>
      }
    </div>
  </div>

</div>
