<header class="header">
  <nav class="nav">
    <div class="nav-left" id="pokeFont">PokéRixe</div>

    <ul class="nav-list">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="">Home</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="pokedex">Pokedex</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="equipes">Equipes</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="fight">Fight</a></li>
    </ul>

    <div class="nav-user">User</div>
  </nav>
</header>
