<ng-template #cardContent>
  <div class="card" [class.selected]="interrogation() === cardNumber()" (click)="onClick()">
    @if(pokedex_id() > 0) {
      <div class="top">
        @if (redirect()) {
          <a [routerLink]="['/pokemon', pokedex_id()]" (click)="$event.stopPropagation()">
            <img id="card" [src]="sprite()" [alt]="name()">
          </a>
        } @else {
          <img id="card" [src]="sprite()" [alt]="name()">
        }
      </div>
      <div class="bottom">
        <div class="desc-top">
          <p class="animation">{{ name() || ('Pokémon #' + pokedex_id()) }}</p>
          <p class="animation">#{{ pokedex_id() }}</p>
        </div>
        <div class="desc-bottom">
          @for (type of types(); track type) {
            <app-type [type]="type"></app-type>
          }
        </div>
      </div>
    } @else {
      <div class="interrogation-container">
        <h1 class="interrogation" id="pokeFont">?</h1>
      </div>
    }
  </div>
</ng-template>

<ng-container *ngTemplateOutlet="cardContent"></ng-container>
