
<div class="stats">
  <div class="stat">
  <h2 class="statName"> PV  </h2> <app-progress-bar [value]=stats.hp ></app-progress-bar> <h2 class="statValue" >{{stats.hp}}</h2>
  </div>
  <div class="stat">
    <h2 class="statName"> ATTACK </h2> <app-progress-bar [value]=stats.attack ></app-progress-bar> <h2 class="statValue" >{{stats.attack}}</h2>
  </div>
  <div class="stat">
    <h2 class="statName"> DEFENSE </h2> <app-progress-bar [value]=stats.defense ></app-progress-bar> <h2 class="statValue" >{{stats.defense}}</h2>
  </div>
  <div class="stat">
    <h2 class="statName"> ATQ.SPÉ </h2> <app-progress-bar [value]=stats.specialAttack ></app-progress-bar> <h2 class="statValue" >{{stats.specialAttack}}</h2>
  </div>
  <div class="stat">
    <h2 class="statName"> DEF.SPÉ </h2> <app-progress-bar [value]=stats.specialDefense ></app-progress-bar> <h2 class="statValue" >{{stats.specialDefense}}</h2>
  </div>
  <div class="stat">
    <h2 class="statName"> VITESSE  </h2> <app-progress-bar [value]=stats.speed ></app-progress-bar> <h2  class="statValue" >{{stats.speed}} </h2>
  </div>
</div>
