@if (isLoading) {
  <h1>Loading...</h1>
} @else {
  @if (pokemon) {
    <div class="pokemon-container">

    <div class="title">
      <div class="id-type">

        <h2 id="pokeId">#{{ pokemon.id}}</h2>

          @for (type of pokemon.types ; track type){
            <app-type type="{{type}}"></app-type>
          }
      </div>

      <h1 id="pokeName">{{ pokemon.name }}</h1>

    </div>

      <div class="separator"></div>

    <div class="pokemon">

      <div class="left">

        <div class="img">
          <img [src]="pokemon.image" alt="prout" />
        </div>

        <div class="taille-poid">

        <div class="taille-poid-item">
        <h3 class="desc">Taille</h3>
        <h3 class="value">{{pokemon.height/10}} M</h3>
        </div>

        <div class="taille-poid-item">
        <h3 class="desc">Poids</h3>
        <h3 class="value">{{pokemon.weight/10}} Kg</h3>
        </div>
        </div>

      </div>

      <div class="right">
        <h1>Statistiques</h1>
        <app-star-stats [stats]="pokemon.stats"></app-star-stats>

      </div>


    </div>
    </div>


  } @else {
    <h1>Aucun Pokémon trouvé.</h1>
  }
}
