<div class="team-container basic-container">
  <div class="left">

    @if (selectedMode() === Mode.AFFICHAGE_POKEMON && selected_card() != 0) {
      <div class="mode-panel affichage-pokemon">
        <app-pokemon-information (changeToMoveMode)="changeToMoveMode($event)"
                                 [pokemon_id]="team()[selected_card()-1]?.pokedex_id ?? 0"></app-pokemon-information>
      </div>
    }

    @if (selectedMode() === Mode.CHOIX_POKEMON) {
      <div class="mode-panel choix-pokemon">
        <h3>Choix Pokémon</h3>
        <p>Choisissez le pokémon à placer sur la carte numéro : {{ selected_card() || '-' }}</p>

        <div class="pokemons">
          <app-pokemon-card-list (cardSelected)="onPokemonChosen($event)"></app-pokemon-card-list>

        </div>
      </div>
    }
    @if (selectedMode() === Mode.CHOIX_ATTACK) {
      <div class="mode-panel choix-attack">
        <app-pokemon-move-selector></app-pokemon-move-selector>
      </div>
    }

    @if (selectedMode() === Mode.AUCUN) {
      <div class="mode-panel aucun">
        <h3>Sélectionnez une carte à droite pour choisir votre pokémon 👉</h3>
      </div>
    }
    <div class="controls">
    </div>
  </div>

  <div class="right">
    <div class="cards-grid" role="list">
      <app-card
        [cardNumber]="1"
        [interrogation]="cardState"
        [pokedex_id]="team()[0]?.pokedex_id ?? 0"
        [sprite]="team()[0]?.sprite ?? '' "
        [types]="team()[0]?.types ?? []"
        [name]="team()[0]?.name ?? ''"
        (interrogationChange)="toggleCard($event)"
      ></app-card>

      <app-card
        [cardNumber]="2"
        [interrogation]="cardState"
        [pokedex_id]="team()[1]?.pokedex_id ?? 0"
        [sprite]="team()[1]?.sprite ?? '' "
        [types]="team()[1]?.types ?? []"
        [name]="team()[1]?.name ?? ''"
        (interrogationChange)="toggleCard($event)"
      ></app-card>

      <app-card
        [cardNumber]="3"
        [interrogation]="cardState"
        [pokedex_id]="team()[2]?.pokedex_id ?? 0"
        [sprite]="team()[2]?.sprite ?? '' "
        [types]="team()[2]?.types ?? []"
        [name]="team()[2]?.name ?? ''"
        (interrogationChange)="toggleCard($event)"
      ></app-card>

      <app-card
        [cardNumber]="4"
        [interrogation]="cardState"
        [pokedex_id]="team()[3]?.pokedex_id ?? 0"
        [sprite]="team()[3]?.sprite ?? '' "
        [types]="team()[3]?.types ?? []"
        [name]="team()[3]?.name ?? ''"
        (interrogationChange)="toggleCard($event)"
      ></app-card>

      <app-card
        [cardNumber]="5"
        [interrogation]="cardState"
        [pokedex_id]="team()[4]?.pokedex_id ?? 0"
        [sprite]="team()[4]?.sprite ?? '' "
        [types]="team()[4]?.types ?? []"
        [name]="team()[4]?.name ?? ''"
        (interrogationChange)="toggleCard($event)"
      ></app-card>

      <app-card
        [cardNumber]="6"
        [interrogation]="cardState"
        [pokedex_id]="team()[5]?.pokedex_id ?? 0"
        [sprite]="team()[5]?.sprite ?? '' "
        [types]="team()[5]?.types ?? []"
        [name]="team()[5]?.name ?? ''"
        (interrogationChange)="toggleCard($event)"
      ></app-card>
    </div>


  </div>
</div>
