<div class="main-container">

  <div class="message">
    <p>Bienvenue dans le journal de combat ! Ici, vous pourrez suivre tous les événements de votre combat en temps réel.
      <br>Pour cette première affrontement, vous vous battez contre l'horrible Meven.
    </p>
  </div>

  <div class="message new-turn"> <h2>Tour numéro 1</h2></div>
  <div class="message new-turn"> <h2>Tour numéro 1</h2></div>
  <div class="message"> <p>Big Meven est tombé au combat !</p></div>
  <div class="message new-turn"> <h2>Tour numéro 1</h2></div>
  <div class="message new-turn"> <h2>Tour numéro 1</h2></div>
  <div class="message new-turn"> <h2>Tour numéro 1</h2></div>
  <div class="message new-turn"> <h2>Tour numéro 1</h2></div>
  <div class="message new-turn"> <h2>Tour numéro 1</h2></div>
</div>
