@if (isDefined()) {
  <div class="move">

    <div class="move-content">
      <div class="move-main">
        <div class="move-name">{{ name() }}</div>
        <div class="move-meta">
          <span class="move-damage-class">{{ damage_class() }}</span>
          <div class="move-type">
            <app-type [type]="type()"></app-type>
          </div>
        </div>
      </div>

      <div class="move-stats">
        <div class="move-power">PUISSANCE : {{ power() }}</div>
        <div class="move-accuracy">PRÉCISION : {{ accuracy() }}%</div>
      </div>
    </div>

    @if (!inFight()) {
      <button class="move-change-button" type="button" (click)="onCLick()" >
        Modifier
      </button>
    }

  </div>


} @else {
  <div class="move move-placeholder">
    <button class="move-change-button" type="button" (click)="onCLick()">Choisir la capacité</button>
  </div>
}
